* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

:root {
  color-scheme: dark;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 1rem;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #fefefe;
}

input,
select {
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
}
